/* estilos.css */
body {
  background-color: #28282B;
  /* background-color: #36454F; */
  font-family: Arial, sans-serif;
  color: #333;
}

h1 {
  color: gold;
  text-align: center;
  text-decoration: underline;
  font-size: 130px;
  font-family: "Stack Sans Notch", sans-serif;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 50px;
}

h2 {
  color: #EADDCA;
  text-align: center;
  font-size: 100px;
  font-weight: 100;
  font-family: "Stack Sans Notch", sans-serif;
}

p {
  color: #EADDCA;
  font-size: 20px;
  font-weight: 200;
  font-family: "Elms Sans", sans-serif;
}

kbd {
  background-color: #343434;
  border-radius: 3px;
  padding: 2px 5px;
  font-family: monospace;
  border: 1px solid #EADDCA;
}

img {
  border: 2px solid tomato;
}

.Banner {
  display: flex;
  justify-content: center;
}



li {
  color: #EADDCA;
  font-size: 20px;
  font-weight: 100;
  font-family: "Stack Sans Notch", sans-serif;
}

a {
  text-decoration: none;
  color: 	#A7C7E7;
}

a:hover {
  color: #1a73e8;
}


/* Sidebar */
.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #343434;
  border-radius: 8px;
  color: #EADDCA;
  padding: 20px;
  position: fixed;
  transition: transform 0.3s ease;
}

.sidebar.collapsed {
  width: 50px;
  height: 100vh;
  background-color: #343434;
  border-radius: 8px;
  color: #EADDCA; 
  padding: 5px;
  position: fixed;
  transition: transform 0.3s ease;
}

.toggler {
  height: 35px;
  width:  35px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  background-color: gold;
}

.toggler:hover{
  background-color: goldenrod;
}

.sidebar.collapsed .toggler{
  margin: 10px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar.sidebar.collapsed h2 {
  opacity: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0px;
}

.sidebar ul li {
  margin: 15px 0;
  
  background-color: #36454F;
  border-radius: 8px;
  
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 8px;
  color: #EADDCA;
  text-decoration: none;
  text-align: center;
  padding: 5px 5px;
  transition: color 0.2s;
}

.sidebar ul li a:hover {
  color:goldenrod;
}

.sidebar ul li a .linklabel {
  flex: 1;
}

.sidebar.collapsed .linklabel {
  display: none;
}

.sidebar.collapsed .material-symbols-rounded {
  flex: content;
  padding: 5px;
}

/* Contenido principal */
.main-content {
  margin-left: 280px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

body.sidebar-collapsed .main-content {
  margin-left: 80px;
}

.commands {
  color: #EADDCA;
  font-size: 20px;
  font-weight: 200;
  background-color: #343434;
  border-radius: 3px;
  padding: 2px 5px;
  font-family: monospace;
  border: 1px solid #EADDCA;
}
/* Responsive: móvil */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    z-index: 1000;
  }

  /* Cuando el checkbox está activo, se muestra el menú */
  #menu-toggle:checked + .menu-icon + .sidebar {
    transform: translateX(0);
  }

  .main-content {
    margin-left: 0;
  }
}